nav.nav
  .nav__container
    a.title-link(href='/')
      h1.title Student Assistr
    
    .menu
      a.menu__item.menu__item--is-active(href='/') Home
      a.menu__item(href='/dashboard') Dashboard
      a.menu__item(href='/profile') Profile
      a.menu__item(href='/login') Log In
      
    button.hamburger
      span
      span
      span
      
  .mobile-nav
    a(href='/') Home
    a(href='/dashboard') Dashboard
    a(href='/profile') Profile
    a(href='/login') Log In
