nav.nav
  .nav__container
    h1.title Student Assistr
    
    .menu
      a.menu__item.menu__item--is-active(href='#') Home
      a.menu__item(href='#') Dashboard
      a.menu__item(href='#') Profile
      a.menu__item(href='#') Log In
      
    button.hamburger
      span
      span
      span
      
  .mobile-nav
    a(href='#') Home
    a(href='#') Dashboard
    a(href='#') Profile
    a(href='#') Log Out
