extends base

block content
  .login-form
    h2.login-form__title Account Log In
    form.form
      label.form__label Email Address
      input.form__input(type='email' required spellcheck='false')
      
      label.form__label Password
      input.form__input(type='password' required spellcheck='false')
      
      button.form__btn Log In
      a.form__sign-up(href='/register') Or sign up!
